red = #c50c70
yellow = #fffa06
blue = rgb(1, 3, 61)

.panel-default
	td
		color #d6d6d6
.panel-date
	font-weight 700 
	padding 5px 10px
	display inline-block
	background #dff0d8
	font-size 24px
	margin-top 20px
.header-content-inner
	background  none!important 
.panel-primary,
.panel-info
	border 1px solid #d6d6d6 
	.panel-heading
		background 	#d6d6d6
		border 1px solid #d6d6d6
		color white
.panel-disable
	background 	red 
	position absolute	
	top 0
	left 0
	background 	red
	width 100%	
	height 100%	 
.panel-wraper
	position relative	
	
.navbar-right
	margin-top 5px	
#take-part
	position relative	
.filter
	position absolute
	width 100%
	height 100%
	top 0px
	left 0px
	background #0f0f23
	opacity .8
.filter-wrap
	position relative	
.number-header .number-header-text
	font-size 64px 
.map
	margin-bottom 30px

.list-info
	width 80%
	margin 0 auto
	li
		padding 10px
		display inline-block
		list-style cycle!important
		position relative
		&:before
			content ""
			position absolute
			width 5px
			height 5px
			background white 
			border-radius 50%
			left -10px
			top 50%
header
	background-attachment: fixed;
	-webkit-background-size cover
	-o-background-size cover
	background-size cover
#services
	background-image url(../img/bg-4.jpg) 
	-webkit-background-size cover
	-o-background-size cover
	background-size cover
	padding 150px 0
	background-attachment: fixed;
	position relative
	.fa
		color yellow!important
	.section-heading
		padding 20px 60px
		font-size 46px	
		//background blue 
		color white
		display inline-block
	h3
		color white
		font-weight 700 
	p
		color white
	.tada
		margin 0 auto
		display inline-block

.services-btn
	margin-top 90px
	.btn-default
		background red
		color white
			
.btn
	-webkit-border-radius 0px 
	border-radius 0px 

.modal-dialog
	.btn
		margin 0 auto
		display block
		width 100%

form
	width 100%
.modal-dialog
	width 400px
	
.video
	margin-bottom 40px
.rub
	font-size 10px
	text-transform uppercase	
//style from snippet
.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

.panel-footer
	a
		display block

.user-info
	margin 0 auto
	li
		padding 10px
		display inline-block
		list-style cycle!important
		position relative
		&:before
			content ""
			position absolute
			width 5px
			height 5px
			background red 
			border-radius 50%
			margin-top -3px
			left -10px
			top 50%

#take-part
	background-image url(../img/bg-6.jpg) 
	-webkit-background-size cover
	-o-background-size cover
	background-size cover
	background-position center center 
	padding 150px 0
	background-attachment: fixed;
	color white
	position relative	
/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
